# **Using R pipe operator**

## A simple example of how to use R' pipe operator

In [1]:
# importing libraries dplyr and stringr
library(dplyr)
library(stringr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
# creating the data
data <- data.frame(col1 = c(1, 2, 3, 4),
                   col2 = c("a", "b", "a", "c"),
                   col3 = c("blue", "gray", "red", "yellow"))

In [7]:
data

  col1 col2 col3
1 1    a    blue
2 2    b    gray
3 3    a    red
4 4    c    yellow

In [8]:
# operating (upper case of a selection of the data) with pipe and showing result:
result <- data %>%
  filter(col1 > 2) %>%
  select(col2) %>%
  pull(col2) %>%
  str_to_upper()

result

[1] "A" "C"